---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import { getCollection } from "astro:content";
import SimpleHeader from "../components/headers/SimpleHeader.astro";

const allPosts = await getCollection("posts");
const image = "https://images.unsplash.com/photo-1517842645767-c639042777db";
const meta = {
  title: "Blog - Skedr",
  description: "Find out more about the Skedr world",
  image,
};
---

<Layout meta={meta}>
  <SimpleHeader title="Blog" description={meta.description} image={image} />
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <div class="space-y-20 lg:space-y-20">
          {allPosts.reverse().map((post) => <Article post={post} />)}
        </div>
      </div>
    </div>
  </div>
</Layout>
