---
import Layout from "../layouts/Layout.astro";
import SimpleHeader from "../components/headers/SimpleHeader.astro";

const meta = {
  title: "Gallery",
  description:
    "In need of inspiration? Look no further than our Skedr gallery. Follow @Skedr.io on Instagram and Flickr to get your photos featured.",
};
---

<Layout meta={meta}>
  <SimpleHeader title={meta.title} description={meta.description} />

  <div class="relative isolate bg-gray-900 pb-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto mt-16 max-w-2xl text-sm leading-6 text-gray-900 sm:mt-20 xl:mx-0 xl:max-w-none"
      >
        <script
          type="text/javascript"
          src="//www.juicer.io/embed/skedr-io/embed-code.js"
          async
          defer></script>
      </div>
    </div>
  </div>
</Layout>
