---
import ArrowPath from "astro-heroicons/solid/ArrowPath.astro";
import Beaker from "astro-heroicons/solid/Beaker.astro";
import Camera from "astro-heroicons/solid/Camera.astro";

const features = [
  {
    id: 1,
    name: "For experts",
    description:
      "Please share your work effectively by sharing it with various groups. We will share your photographs. Show what you got, receive appreciation, and get recognized globally.",
    icon: ArrowPath,
  },
  {
    id: 2,
    name: "For devotees",
    description:
      "Acquire perspectives and preferences by effectively sharing your photographs in loads of groups. Try not to burn through your time and further develop your photography abilities.",
    icon: Camera,
  },
  {
    id: 3,
    name: "For newbies",
    description:
      "Work on your shots and photography through other photographic artists'  eyes. Share and find. What's more, consistently have a good time",
    icon: Beaker,
  },
];
---

<div class="bg-gray-900 py-12 sm:py-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
      >
        {
          features.map((feature) => (
            <div class="flex flex-col">
              <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-white">
                <feature.icon
                  class="h-5 w-5 flex-non text-indigo-400"
                  aria-hidden="true"
                />
                {feature.name}
              </dt>
              <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
                <p class="flex-auto">{feature.description}</p>
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
