<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <p class="text-base font-semibold leading-7 text-indigo-400">About us</p>
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
        Our mission
      </h2>
      <div
        class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-base leading-7 text-gray-300 lg:max-w-none lg:grid-cols-2"
      >
        <div>
          <p>
            We're here to help photographers and digital artists reach as many
            Flickr fans as possible. Skedr lets you skip the sharing part inside
            Flickr and go directly to engage with groups. So you can spend more
            time doing the things you love.
          </p>
          <p class="mt-8">
            Anyone can use Skedr. In just a few easy clicks you're sharing your
            work with the Flickr world. Sharing is caring right? We give back
            not just through our time saving tech but in the culture of our
            business.
            <!-- [insert example here] -->
          </p>
        </div>
        <div>
          <p>
            We are a neat tech service built and run by actual humans. We are
            committed to our Skedr community so dedicate our time and energy to
            answering any queries you may have as fast as humanly possible!
            We're also keen to celebrate your work so find out how you can be
            featured in the Skedr blog <a
              href="https://forms.gle/7CfTYD8wvdh3FMi6A"
              class="link"
            >
              here
            </a>.
          </p>
        </div>
      </div>
      <dl
        class="mt-16 grid grid-cols-1 gap-x-8 gap-y-12 sm:mt-20 sm:grid-cols-2 sm:gap-y-16 lg:mt-28 lg:grid-cols-4"
      >
        <div
          class="flex flex-col-reverse gap-y-3 border-l border-white/20 pl-6"
        >
          <dt class="text-base leading-7 text-gray-300">Users</dt>
          <dd class="text-3xl font-semibold tracking-tight text-white">
            +1500
          </dd>
        </div>
        <div
          class="flex flex-col-reverse gap-y-3 border-l border-white/20 pl-6"
        >
          <dt class="text-base leading-7 text-gray-300">saved time</dt>
          <dd class="text-3xl font-semibold tracking-tight text-white">
            3 years
          </dd>
        </div>
        <div
          class="flex flex-col-reverse gap-y-3 border-l border-white/20 pl-6"
        >
          <dt class="text-base leading-7 text-gray-300">shared images</dt>
          <dd class="text-3xl font-semibold tracking-tight text-white">40M</dd>
        </div>
        <div
          class="flex flex-col-reverse gap-y-3 border-l border-white/20 pl-6"
        >
          <dt class="text-base leading-7 text-gray-300">rescheduled images</dt>
          <dd class="text-3xl font-semibold tracking-tight text-white">10M</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
