<section class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col pb-10 sm:pb-16 lg:pb-0 lg:pr-8 xl:pr-20">
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg leading-8 text-white">
            <div class="relative text-lg font-medium text-white md:flex-grow">
              <svg
                class="absolute top-0 left-0 -translate-x-3 -translate-y-2 h-8 w-8 text-gray-600"
                fill="currentColor"
                viewBox="0 0 32 32"
                aria-hidden="true"
              >
                <path
                  d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
                ></path>
              </svg>
              <p class="relative">
                Skedr can handle 80 to 90% of my work, considerably reducing my
                posting time.
              </p>
            </div>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <img
              class="h-14 w-14 rounded-full bg-gray-800"
              src="https://farm5.staticflickr.com/4571/buddyicons/159869034@N02_r.jpg"
              alt="Carsten Skodell"
            />
            <div class="text-base">
              <div class="font-semibold text-white">Carsten Skodell</div>
              <div class="mt-1 text-gray-400">554 photos</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div
        class="flex flex-col border-t border-white/10 pt-10 sm:pt-16 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20"
      >
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg leading-8 text-white">
            <div class="relative text-lg font-medium text-white md:flex-grow">
              <svg
                class="absolute top-0 left-0 -translate-x-3 -translate-y-2 h-8 w-8 text-gray-600"
                fill="currentColor"
                viewBox="0 0 32 32"
                aria-hidden="true"
              >
                <path
                  d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
                ></path>
              </svg>
              <p class="relative">
                I like Skedr more than anything because it is easy to use and
                fast, something that in Flickr costs more to do.
              </p>
            </div>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <img
              class="h-14 w-14 rounded-full bg-gray-800"
              src="https://farm6.staticflickr.com/5602/buddyicons/91905103@N02_r.jpg"
              alt="LuceMia"
            />
            <div class="text-base">
              <div class="font-semibold text-white">LuceMia</div>
              <div class="mt-1 text-gray-400">5915 photos</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
