---
import { Image } from "astro:assets";
import ManageTags from "../../assets/screenshot_manage_tags.png";
import Hashtag from "astro-heroicons/outline/Hashtag.astro";
import ArrowPath from "astro-heroicons/outline/ArrowPath.astro";
import Calendar from "astro-heroicons/outline/Calendar.astro";
---

<div class="overflow-hidden bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:ml-auto lg:pl-4 lg:pt-4">
        <div class="lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-400">
            The Basics
          </p>
          <h2
            class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl"
          >
            How to use Skedr?
          </h2>
          <p class="mt-6 text-lg leading-8 text-gray-300">
            Share your images, be that photos or digital art, to Flick groups by
            adding tags and then Skedr does the resharing for you solving any
            group restriction limits. Three easy steps:
          </p>
          <dl
            class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-300 lg:max-w-none"
          >
            <div class="relative pl-9">
              <dt class="inline font-semibold text-white">
                <Hashtag
                  class="absolute left-1 top-1 h-5 w-5 text-indigo-400"
                />
                Use tags.
              </dt>
              <dd class="inline">
                Link your images and groups through tags. A tag must be a
                keyword or meaningful word describing that group.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-white">
                <ArrowPath
                  class="absolute left-1 top-1 h-5 w-5 text-indigo-400"
                />
                Sync an image.
              </dt>
              <dd class="inline">
                Share that image to all groups through all of the tags you have
                linked with that image.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-white">
                <Calendar
                  class="absolute left-1 top-1 h-5 w-5 text-indigo-400"
                />
                Built-in reshare.
              </dt>
              <dd class="inline">
                Each dismissed image is scheduled for resharing automatically;
                this way you will reach more Flickr fans.
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="flex items-start justify-end lg:order-first">
        <Image
          src={ManageTags}
          class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
          alt="Customer profile user interface"
          width="2432"
          height="1442"
        />
      </div>
    </div>
  </div>
</div>
