<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Our mission
      </h2>
      <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
        <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
          <p class="text-xl leading-8 text-gray-600">
            We're here to help photographers and digital artists reach as many
            Flickr fans as possible. Skedr lets you skip the sharing part inside
            Flickr and go directly to engage with groups. So you can spend more
            time doing the things you love.
          </p>
          <p class="mt-10 max-w-xl text-base leading-7 text-gray-700">
            Anyone can use Skedr. In just a few easy clicks you're sharing your
            work with the Flickr world. Sharing is caring right? We give back
            not just through our time saving tech but in the culture of our
            business.
            <!-- [insert example here] -->
          </p>
          <p class="mt-10 max-w-xl text-base leading-7 text-gray-700">
            We are a neat tech service built and run by actual humans. We are
            committed to our Skedr community so dedicate our time and energy to
            answering any queries you may have as fast as humanly possible!
            We're also keen to celebrate your work so find out how you can be
            featured in the Skedr blog <a
              href="https://forms.gle/7CfTYD8wvdh3FMi6A"
              class="link"
            >
              here
            </a>.
          </p>
        </div>
        <div class="lg:flex lg:flex-auto lg:justify-center">
          <dl class="w-64 space-y-8 xl:w-80">
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">
                users and growing every month
              </dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">
                1.500
              </dd>
            </div>
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">
                Shared images to groups
              </dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">
                40 million
              </dd>
            </div>
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">
                Images automatically rescheduled
              </dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">
                10 million
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
