<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Our mission
      </h2>
      <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
        <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
          <p class="text-xl leading-8 text-gray-600">
            Help other share their photos or digital art and be able to spend
            more time doing other things. We build a tool that helps others
            manage and share their images to Flickr much more easily than now.
          </p>
          <p class="mt-10 max-w-xl text-base leading-7 text-gray-700">
            Anyone can use Skedr. In just a few clicks or few minutes you are
            sharing your images with Flickr. We are all about sharing and giving
            back. Not just literally through our time saving technology but
            through the culture of our business.
          </p>
          <p class="mt-10 max-w-xl text-base leading-7 text-gray-700">
            We are a tech service built and run by actual humans. We dedicate
            ourselves to answering your queries personally, creating real
            connections.
          </p>
        </div>
        <div class="lg:flex lg:flex-auto lg:justify-center">
          <dl class="w-64 space-y-8 xl:w-80">
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">
                users and growing every month
              </dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">
                1.500
              </dd>
            </div>
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">
                Shared images to groups
              </dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">
                40 million
              </dd>
            </div>
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">
                Images automatically rescheduled
              </dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">
                10 million
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
