---

---

<div
  class="prose prose-img:object-cover prose-img:rounded-xl prose-img:bg-gray-50
      prose-figure:mt-16
      prose-figcaption:mt-4 prose-figcaption:flex prose-figcaption:gap-x-2 prose-figcaption:text-sm
      prose-figcaption:leading-6 prose-figcaption:text-gray-500
      prose-p:mt-6 prose-p:max-w-2xl
      prose-h1:mt-2 prose-h1:text-3xl prose-h1:font-bold prose-h1:tracking-tight prose-h1:text-gray-900 prose-h1:sm:text-4xl
      prose-h2:text-2xl prose-h2:font-bold prose-h2:tracking-tight prose-h2:text-gray-900
      prose-ul:mt-8 prose-ul:max-w-xl prose-ul:space-y-8 prose-ul:text-gray-600"
>
  <slot />
</div>
