---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<a
  href={`/tags/${tag}`}
  class="capitalize relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
>
  {tag}
</a>
