---
interface Props {
	title: string;
}

const { title } = Astro.props;
import TheHeader from '../components/layout/TheHeader.vue';
import TheFooter from '../components/layout/TheFooter.vue';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <script id="profitwell-js" data-pw-auth="76630afb50e57f5789b6e83c2124fd87">
      ;(function (i, s, o, g, r, a, m) {
        i[o] =
          i[o] ||
          function () {
            ;(i[o].q = i[o].q || []).push(arguments)
          }
        a = s.createElement(g)
        m = s.getElementsByTagName(g)[0]
        a.async = 1
        a.src = r + "?auth=" + s.getElementById(o + "-js").getAttribute("data-pw-auth")
        m.parentNode.insertBefore(a, m)
      })(window, document, "profitwell", "script", "https://public.profitwell.com/js/profitwell.js")

      profitwell("start")
    </script> -->
	</head>
	<body>
		<slot />
	</body>
</html>

