---
const main = [
  { name: "Pricing", to: "/pricing" },
  { name: "Faq", to: "/faq" },
  { name: "Privacy policy", to: "/privacy-policy" },
  { name: "Terms and conditions", to: "/terms-and-conditions" },
];

const actualYear = new Date().getFullYear();
---

<footer class="bg-gray-900">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      {
        main.map((item) => (
          <div class="px-5 py-2">
            <a href={item.to} class="text-base text-gray-300 hover:text-white">
              {item.name}
            </a>
          </div>
        ))
      }
    </nav>

    <p class="mt-8 text-center text-base text-gray-400">
      Get in touch at
      <a
        href="mailto:info@skedr.io"
        class="text-base text-gray-300 hover:text-white underline"
        >info@skedr.io</a
      >
      &mdash; &copy; 2017-{actualYear} Skedr.io all rights reserved.
    </p>
  </div>
</footer>
